<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Tech Blog</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>
    <div class="wrapper">
        <header>
            <h1>
                <a href="/">Home</a>
            </h1>
            <nav>
               
                <a href="/dashboard">Dashboard</a>
                <button id="logout" class="btn-no-style logout">logout</button>
               
                <a href="/login">Login</a>
                
            </nav>
        </header>
        <div class="site-row">
            <div class="site-name">
                <h1>The Tech Blog</h1>
            </div>
        </div>
        <main>
            {{{ body }}}
        </main>
    </div>

    
</body>

</html>